<!DOCTYPE html>

<html>
<head >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Students and Communities</title>
    <link rel="stylesheet" href="~/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container-is-max-desktop">
            <span class="title">
                Assignment 2 - By Dante Beltran & Kevin Truong
            </span>
            <hr />
            <nav class="navbar is-link">
                <div id="navbarExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" asp-controller="Home" asp-action="Index">SchoolCommunity</a>
                        <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">Options</a>
                            <div class="navbar-dropdown is-boxed">
                                <a class="navbar-item" asp-controller="Student" asp-action="Index">Students</a>
                                <a class="navbar-item" asp-controller="Community" asp-action="Index">Communities</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <br />
        <div class="container-is-max-desktop">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        @RenderSection("Scripts", required: false)
    </section>
</body >
</html>