@model Lab4.Models.Community

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h1 class="title">Edit</h1>
<br />
<h1 class="subtitle">Community</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="field">
                <label asp-for="Title" class="label"></label>
                <div class="control">
                    <input asp-for="Title" class="input" type="text" placeholder="Title" />
                </div>
                <span asp-validation-for="Title" class="has-text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Budget" class="label"></label>
                <div class="control">
                    <input asp-for="Budget" class="input" type="text" placeholder="Budget" />
                </div>
                <span asp-validation-for="Budget" class="has-text-danger"></span>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" value="Save" class="button is-link" />
                </div>
                <div class="control">
                    <a asp-action="Index" class="button is-link is-light">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
