@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lab4.Models.ViewModels.FileInputViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Upload";
}

<h1 class="title">Upload</h1>
<br />
<h1 class="subtitle">Upload an add for community @Model.CommunityTitle</h1>
<hr />
<form asp-action="UploadFile" asp-route-id="@Model.CommunityId" enctype="multipart/form-data">
    <input name="file" type="file" accept="image/x-png,image/gif,image/jpeg" required>
    <br /><br />
    <div class="field is-grouped">
        <button name="upload" class="button is-link">Upload Now</button> &nbsp;
        <a class="button is-link is-light" asp-action="Index" asp-route-id="@Model.CommunityId">Back to List</a>
    </div>
</form>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
